.taskForm {
  margin-top: -1.6rem;
  display: flex;
  gap: 0.5rem;
}

.taskForm input {
  flex: 1;
  height: 3.2rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  padding: 1rem;
  color: var(--gray-100);
}

.taskForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 6rem;
  height: 3.2rem;
  border-radius: 8px;
  border: 0;

  background: var(--blue-dark);
  color: var(--white);

  font-size: 0.875rem;
  font-weight: bold;

  transition: background 0.1s;
  cursor: pointer;
}

.taskForm button:not(:disabled):hover {
  background: var(--blue);
}

.taskForm button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}


